
# Configuration file for running TAZ_attribute_overlay.py and TAZ_metrics.py

# Configuration Summary: To run an attribute overlay for an RDR scenario, update the [common] and [attribute_overlay] sections to match your scenario specifications
# Similarly, to run the TAZ metrics analysis for an RDR scenario, update the [common] and [benefits_analysis] sections to match your scenario specifications

# ==============================================================================

[common]

# Location to store the results of the benefits analysis helper tools
benefits_analysis_dir = "..\\..\\metamodel_py\\tests\\rs3_files\\Data\\generated_files"

# Run name
# Used to name output folders and log files for distinction between various benefits analyses
run_id = 'RS3BenefitsAnalysis'

# Name of the TAZ ID column in the TAZ source
TAZ_col_name = 'TAZ'

# ==============================================================================

[attribute_overlay]

# Full file path to the TAZ shapefile (do not include the SHP file extension)
# This is a file stored on the user's local machine
# Future versions may support feature service layer
TAZ_source =

# Source of the attribute layer and the feature of that layer which should be used to assign attribute values to TAZ
# If using a file stored on the user's local machine, provide the full path to the shapefile as the attribute_source parameter
# If using the default layer, enter 'censuspoverty' to use bins based on an estimate of the percentage of the population 
# in poverty in each census tract.
# Within the default data, 0 represents a location with less than 10 percent of the population in poverty,
# 1 represents a location with 10 - 19.99 percent of the population in poverty, and 
# 2 represents a location with 20 or more percent of the population in poverty. 
# More information is available at these links:
# https://www.census.gov/data/experimental-data-products/model-based-estimates-of-2021-persons-in-poverty.html
# https://mtgis-portal.geo.census.gov/arcgis/apps/experiencebuilder/experience/?id=ad8ad0751e474f938fc98345462cdfbf&page=EDA-Census-Poverty-Status-Viewer&views=Modeled-Tract-Area-Poverty
attribute_source = 'censuspoverty'
attribute_feature = 'poverty_percentage_bin'

# Attribute source coordinate reference system
# Defines the coordinate reference system (crs) of the attribute source shapefile if provided
# Typically in the format of 'EPSG:XXXX' where XXXX is four digits
# Default layer uses the NAD83 Geographic Coordinate System, which is 'EPSG:4269'
attribute_crs = 'EPSG:4269'

# Minimum area to include during overlay
# Indicates the percentile (as a decimal) of smallest overlay intersected polygons to drop before assigning attribute values to TAZs
# Note: Setting this below 0.05 may result in very small fragments of overlay being used to assign attribute values to TAZ
min_percentile_include = 0.05

# Name of CSV file created as output (do not include CSV file extension)
output_name = 'TAZ_Mapping'

# ==============================================================================

[benefits_analysis]
# Configuration file for corresponding RDR Metamodel run
# This is used in TAZ_metrics.py to identify the AequilibraE input files and parameters to use
# In testing, the .bat file will cd into the helper directory. So, the RDR config path should be from 
# the helper_tools/benefits_analysis directory  
path_to_RDR_config_file = "..\\..\\metamodel_py\\tests\\rs3_files\\RS3.config"

# Full file path of CSV file containing the TAZ metric data by TAZ
# This file must contain a TAZ ID column named according to the TAZ_col_name parameter above and a TAZ category column
# specified by the TAZ_feature parameter
TAZ_mapping = "..\\..\\metamodel_py\\tests\\rs3_files\\Data\\inputs\\TAZ_Mapping.csv"
TAZ_feature = 'poverty_percentage_bin'

# Resilience project to analyze in the TAZ metrics helper tool
# Enter the project name corresponding to RDR input files, e.g., 'HighwayProject1'
resil = 'L15-19'

# Hazard to analyze in the TAZ metrics helper tool
# Enter the hazard name corresponding to RDR input files, e.g., '100yr3SLR'
hazard = 'haz1'

# Project group corresponding to resilience project
# Enter the project group name corresponding to above resilience project in RDR input files, e.g., '04', '30'
projgroup = '02'

# Socioeconomic future to analyze in the TAZ metrics helper tool
# Enter the economic future name corresponding to RDR input files, e.g., 'base', 'urban', 'suburban'
socio = 'base'

# Elasticity value used by AequilibraE, e.g., 0, -0.5, -1
elasticity = -1

# Always set to 'no' for the TAZ metrics helper tool
baseline = 'no'

# Always set to '0' for the TAZ metrics helper tool
recovery = '0'

# Mini-Equilibrium Run
# User can select 1 to run mini-equilibrium setup for routing code or 0 to run routing code only once (default).
run_minieq = 0

# Defines the type of AequilibraE run used in the TAZ metrics helper tool
# Select 'SP' for shortest path or 'RT' for routing (default)
run_type = 'RT'

# Constant used as an upper bound for travel times in disruption analysis
largeval = 99999

# P-value used in statistical tests for determining "significance"
pval = 0.05
