*.pyc

.Rproj.user
.Rhistory
metamodel_py/metamodel_py.Rproj
.idea/
.vs/

Data/*
!Data/.gitkeep
quick_starts/qs1_full_run/Data/generated_files/*
quick_starts/qs2_analysis_run/Example_A/Data/generated_files/*
quick_starts/qs2_analysis_run/Example_B/Data/generated_files/*
quick_starts/qs2_analysis_run/Example_C/Data/generated_files/*
quick_starts/qs3_add_scenarios/Data/generated_files/*
*.ipynb

!metamodel_py/tests/*
metamodel_py/tests/qs1_files/Data/generated_files/*
