
# Configuration for prepare_rdr_transit_network.py and calculate_transit_network_metrics.py

# Configuration Summary: update this configuration file to your own scenario's specifications
#     Create transit centroid connector links based on transit boarding nodes and a TAZ shapefile with associated centroid nodes
#     Calculate toll and travel time fields for an RDR link input file based on user-defined TNC and transit parameters

# ==============================================================================

[common]

# Run name
# Used to name log files for distinction between various helper tool runs
run_name = 'SampleTransitRun'

# Output directory
# All helper tool outputs are created here
output_dir = 'C:\GitHub\RDR\Data\sample_format_network\generated_files'


# ==============================================================================

[prepare_network]

# Parameters specific to prepare_rdr_transit_network.py helper tool

# Path to roadway network node CSV file
# This is used to identify location of centroid nodes AND to concatenate in final node CSV file
# Node CSV file should contain all transportation network centroids and road intersections
# Required fields are node_id, x_coord, y_coord, node_type
# Node type field should be clearly specified as one of the following: centroid, road intersection
road_node_csv = 'C:\GitHub\RDR\Data\sample_format_network\road_node.csv'

# Path to roadway network link CSV file
# This is used to concatenate in final link CSV file
# Link CSV file should contain all road centroid connectors and road links
# Required fields are link_id, from_node_id, to_node_id, directed, length (miles), facility_type, capacity, free_speed (mph), lanes, allowed_uses
# Centroid connectors should have facility_type = 901, high capacity, low free_speed, lanes = 1
road_link_csv = 'C:\GitHub\RDR\Data\sample_format_network\road_link.csv'

# Path to transit network node CSV file
# This is used to identify location of transit boarding nodes AND to concatenate in final node CSV file
# Node CSV file should contain all transit stops (for boarding transit network) and transit service nodes (can be created by GTFS2GMNS tool)
# Required fields are node_id, x_coord, y_coord, node_type
# Transit stops are required to have smaller node IDs than transit service nodes in order to correctly label boarding/deboarding links
# Node type field should be clearly specified as one of the following: stop (for bus), rail_station, metro_station, tram_service_node, metro_service_node, rail_service_node, bus_service_node
transit_node_csv = 'C:\GitHub\RDR\Data\sample_format_network\GTFS_data\node.csv'

# Path to transit network link CSV file
# This is used to concatenate in final link CSV file
# Link CSV file should contain all transit service, boarding/deboarding, and transfer links (can be created by GTFS2GMNS tool, transit centroid connectors will be created by helper tool)
# Required fields are link_id, from_node_id, to_node_id, facility_type, dir_flag, link_type, length (miles), lanes, capacity, free_speed (miles per hour)
# Facility type field should be clearly specified as one of the following: tram, metro, rail, bus, sta2sta (for transfer links)
# Link type field should be clearly specified as one of the following: 1 for service link, 2 for boarding/deboarding link, 3 for transfer link
transit_link_csv = 'C:\GitHub\RDR\Data\sample_format_network\GTFS_data\link.csv'

# Path to traffic analysis zone (TAZ) shapefile
# This is used to identify which TAZs can access which transit nodes
# Shapefile should contain polygons for each TAZ
TAZ_shapefile = 'C:\GitHub\RDR\Data\sample_format_network\TAZ_shapes\zones.shp'

# Field name of zone ID (and centroid node ID)
# Shapefile field defining the TAZ ID, which should match the centroid node ID
# Cannot be set to 'node_id', which is reserved for other data fields
zone_ID = 'ID'

# Search distance
# Search radius for determining the maximum threshold of travel from a TAZ to a transit node
# Include units (e.g., feet, meters, yards)
search_distance = '0.25 Miles'

# Create transit geodatabase
# This is used to specify if a geodatabase of transit network links should be created in addition to CSV files
# The geodatabase can be used by the RDR Exposure Analysis Tool to apply hazard data to the transit network
# Options are True and False (default value)
# If true, geometry_id (containing the GTFS shape ID of the link) is a required field for the transit network link CSV file
create_gdb = False

# Path to GTFS input files
# This is used to associate transit links with their GTFS shape information
# Should contain shapes.txt file at a minimum
# Required field if create_gdb parameter is set to True
GTFS_folder = 'C:\GitHub\RDR\Data\sample_format_network\GTFS_data'


# ==============================================================================

[calculate_metrics]

# Parameters specific to calculate_transit_network_metrics.py helper tool

# Path to comprehensive network node CSV file
# Can be created by prepare_rdr_transit_network helper tool
# Required fields are node_id, x_coord, y_coord, node_type
# Node type field should be clearly specified as one of the following: centroid, road intersection, transit boarding, transit
node_csv = 'C:\GitHub\RDR\Data\sample_format_network\generated_files\combined_node.csv'

# Path to comprehensive network link CSV file
# Can be created by prepare_rdr_transit_network helper tool
# Required fields are link_id, from_node_id, to_node_id, directed, length (miles), facility_type, capacity, free_speed (mph), lanes, allowed_uses
# Helper tool will create a new file link_final.csv with added fields: toll (cents), travel_time (minutes), toll_nocar (cents, optional), travel_time_nocar (minutes, optional)
link_csv = 'C:\GitHub\RDR\Data\sample_format_network\generated_files\combined_link.csv'

# Centroid Connector Added Cost
# In cents, applied as toll to all centroid connectors in the network to discourage unrealistic routing through centroids
# Default of 1000 cents based on validation study on a medium-size real-world transportation network
centroid_connector_cost = 1000

### TRANSIT ###
# The following parameters need only to be defined if the user includes transit in their network
# Options are True and False (default value)
include_transit = False

# Transit Fare
# In cents, applied as toll to transit boarding links
transit_fare = 200

# Bus Wait Time
# In minutes, applied as travel time to bus transit boarding links
bus_wait_time = 7

# Tram/Subway/Rail Wait Time
# In minutes, applied as travel time to tram, subway, and rail transit boarding links
subway_wait_time = 4

### TNC ###
# The following parameters need only to be defined if the user includes no-car households in a separate trip table
# Options are True and False (default value)
include_nocar = False

# TNC Initial Charge
# In cents, applied as toll to road centroid connectors originating from centroid for 'nocar' trip table
tnc_initial_cost = 300

# TNC Cost Per Mile
# In cents, applied as toll to road links for 'nocar' trip table
tnc_cost_per_mile = 250

# TNC Wait Time
# In minutes, applied as travel time to road centroid connectors originating from centroid for 'nocar' trip table
tnc_wait_time = 10

