
# Configuration file for running equity_overlay.py and TAZ_metrics.py

# Configuration Summary: To run an equity overlay for an RDR scenario, update the [common] and [equity_overlay] sections to match your scenario specifications
# Similarly, to run the TAZ metrics analysis for an RDR scenario, update the [common] and [benefits_analysis] sections to match your scenario specifications

# ==============================================================================

[common]

# Location to store the results of the benefits analysis helper tools
benefits_analysis_dir = "C:\GitHub\RDR\Data\benefits_analysis\generated_files"

# Run name
# Used to name output folders and log files for distinction between various benefits analyses
run_id = 'SampleBenefitsAnalysis'

# Name of the TAZ ID column in the TAZ source
TAZ_col_name = 'TAZ_ID'

# ==============================================================================

[equity_overlay]

# Full file path to the TAZ shapefile (do not include the SHP file extension)
# This is a file stored on the user's local machine
# Future versions may support feature service layer
TAZ_source = "C:\GitHub\RDR\Data\benefits_analysis\inputs\TAZ\TAZ_Layer"

# Source of the equity layer and the feature of that layer which should be used to categorize areas of equity emphasis
# If using a file stored on the user's local machine, provide the full path to the shapefile as the equity_source parameter
# If using the default layer, enter 'CEJST' to use the categorization developed by the Council on Environmental Quality (CEQ)
# Climate and Economic Justice Screening Tool (CEJST)
# Note: Default setting provides a binary composite indicator of equity emphasis areas ('SN_C'), where 1 = disadvantaged and 0 = not disadvantaged
equity_source = 'CEJST'
equity_feature = 'SN_C'

# Equity source coordinate reference system
# Defines the coordinate reference system (crs) of the equity source shapefile if provided
# Typically in the format of 'EPSG:XXXX' where XXXX is four digits
# Default layer uses the WGS84 Geographic Coordinate System, which is 'EPSG:4326'
equity_crs = 'EPSG:4326'

# Minimum area to include during overlay
# Indicates the percentile (as a decimal) of smallest overlay intersected polygons to drop before assigning equity emphasis categories to TAZs
# Note: Setting this below 0.05 may result in very small fragments of overlay being used to assign equity emphasis category to TAZ
min_percentile_include = 0.05

# Name of CSV file created as output (do not include CSV file extension)
output_name = 'Equity_TAZ_Mapping'

# ==============================================================================

[benefits_analysis]
# Configuration file for corresponding RDR Metamodel run
# This is used in TAZ_metrics.py to identify the AequilibraE input files and parameters to use
path_to_RDR_config_file = "C:\GitHub\RDR\Data\sample_run\SampleRun.config"

# Full file path of CSV file containing the TAZ metric data by TAZ
# This file must contain a TAZ ID column named according to the TAZ_col_name parameter above and a TAZ category column
# specified by the TAZ_feature parameter
TAZ_mapping = "C:\GitHub\RDR\Data\benefits_analysis\inputs\Equity_TAZ_Mapping.csv"
TAZ_feature = 'SN_C'

# Resilience project to analyze in the TAZ metrics helper tool
# Enter the project name corresponding to RDR input files, e.g., 'HighwayProject1'
resil = 'HighwayProject1'

# Hazard to analyze in the TAZ metrics helper tool
# Enter the hazard name corresponding to RDR input files, e.g., '100yr3SLR'
hazard = 'haz1'

# Project group corresponding to resilience project
# Enter the project group name corresponding to above resilience project in RDR input files, e.g., '04', '30'
projgroup = '00'

# Socioeconomic future to analyze in the TAZ metrics helper tool
# Enter the economic future name corresponding to RDR input files, e.g., 'base', 'urban', 'suburban'
socio = 'base'

# Elasticity value used by AequilibraE, e.g., 0, -0.5, -1
elasticity = -1

# Always set to 'no' for the TAZ metrics helper tool
baseline = 'no'

# Always set to '0' for the TAZ metrics helper tool
recovery = '0'

# Mini-Equilibrium Run
# User can select 1 to run mini-equilibrium setup for routing code or 0 to run routing code only once (default).
run_minieq = 0

# Defines the type of AequilibraE run used in the TAZ metrics helper tool
# Select 'SP' for shortest path or 'RT' for routing (default)
run_type = 'RT'

# Constant used as an upper bound for travel times in disruption analysis
largeval = 99999

# P-value used in statistical tests for determining "significance"
pval = 0.05
