
# Configuration for running RDR Tool Suite - Reference Scenario 4

# Configuration Summary: Configuration file contains user parameters for
# (1) identifying input and output directories,
# (2) specifying scenario analysis framework,
# (3) defining regression model process,
# (4) defining disruption analysis,
# (5) defining recovery process,
# (6) calculating ROI metrics.


# ==============================================================================

[common]
# GENERAL CONFIGURATION (INPUT DIRECTORY, OUTPUT DIRECTORY, etc.)

input_dir = 'C:\GitHub\RDR\scenarios\rs4_transit\Data\inputs'
output_dir = 'C:\GitHub\RDR\scenarios\rs4_transit\Data\generated_files'

# Run ID
# Denotes the string used to identify outputs for the run, e.g., run_id = 'SampleRun' means output files will be labeled 'SampleRun'.
run_id = 'RS4'

# Start Year of Analysis Period
start_year = 2020
# End Year of Analysis Period
end_year = 2045

# Year of Base Year Runs
# Specifies the year for which core model outputs are generated. Used in interpolation of results in economic analysis.
base_year = 2017
# Year of Future Year Runs
# Specifies the year for which core models are run on future scenarios. Used in interpolation of results in economic analysis.
future_year = 2045


# ==============================================================================

[metamodel]
# METAMODEL PARAMETERS

# The following parameters define the approach used to select sample core model runs, run AequilibraE, and fit the metamodel.

# Metamodel Type
# State which metamodel method to use. Options are 'base', 'interact', 'projgroupLM', 'multitarget' (default), 'mixedeffects'.
# See the User Guide for specifications of each metamodel method.
metamodel_type = 'base'

# Latin Hypercube Sample Size
# Defines the number of scenarios identified by the Latin hypercube sampling algorithm to generate AequilibraE outputs for.
# The RDR model is highly sensitive to this parameter. See the User Guide for details on selecting an appropriate value.
lhs_sample_target = 6

# AequilibraE Model Run Type
# Defines the type of AequilibraE run used to fit the metamodel.
# User can select 'SP' for shortest path or 'RT' for routing (default).
aeq_run_type = 'RT'

# Mini-Equilibrium Run
# User can select 1 to run mini-equilibrium setup for routing code or 0 to run routing code only once (default).
run_minieq = 0

# AequilibraE Paths Through Centroids
# User can select 1 to allow flows to be routed through centroids/centroid connectors (default) or 0 to block these types of paths.
# This parameter should be set to 1 if the user wants to model multimodal trips. In this case, centroid connector costs should be set appropriately high.
allow_centroid_flows = 1

# Calculate Transit-Specific Metrics
# User can select 1 to calculate and monetize transit trips separately from car trips (default) or 0 to consider all trips equally.
# Users incorporating a transit network into their run are highly encouraged to select 1.
# If calculating transit-specific metrics, the default facility types must be used and the AequilibraE Model Run Type (as defined above) must be set to 'RT' for routing.
# Users specifying custom facility types in their network should select 0 to avoid misattribution errors. See the User Guide for more details.
calc_transit_metrics = 1

# AequilibraE Max Iterations for Traffic Assignment
# Defines the number of iterations of traffic assignment run by AequilibraE. Default value is 100 if left blank.
# A larger number will better ensure convergence of the traffic assignment model, but will increase runtime.
aeq_max_iter = 100

# AequilibraE Gap Threshold for Traffic Assignment
# Defines the gap target threshold for traffic assignment run by AequilibraE. Default value is 0.01 if left blank.
# A smaller number will better ensure convergence of the traffic assignment model, but will increase runtime.
aeq_rgap_target = 0.01


# ==============================================================================

[disruption]
# DISRUPTION ANALYSIS PARAMETERS

# The following parameters define the approach used to convert exposure data to disruption along the network.

# Link Availability Approach
# Defines the approach used to convert exposure to a specific level of disruption to each individual segment in the network.
# 'Binary' (default) = Any value > 0 will be considered full exposure and link will not be available. Other links will remain fully available.
# 'Default_Flood_Exposure_Function' = Utilize depth-disruption function adapted from Pregnolato et al.
# 'Manual' = Develop your own bins for converting exposure into link availability based on template CSV provided with tool suite.
# 'Facility_Type_Manual' = Develop your own bins for each facility type representing converting exposure into link availability based on template CSV provided with tool suite. Facility types not represented are assumed not disrupted.
# 'Beta_Distribution_Function' = Develop custom function converting exposure to disruption--based on Python's beta distribution function implementation.
link_availability_approach = 'Default_Flood_Exposure_Function'

# Exposure Field
# Field name in the exposure dataset which defines exposure level.
# Default is 'Value' but this may vary depending on the specific dataset.
exposure_field = 'Value'

# Exposure Unit
# Only required if default flood exposure curve is being utilized or default damage table is being utilized (see Recovery section below).
# Acceptable units are feet, meters, or yards.
exposure_unit = 'Feet'

# Path to Link Availability CSV
# Only required if 'Manual' or 'Facility_Type_Manual' link availability approach is being utilized (as defined above).
# Otherwise, can be left blank.
link_availability_csv =

# Beta Distribution Parameters
# Only required to be defined when the 'Beta_Distribution_Function' approach is utilized to convert a hazard to disruption.
# Alpha
# A number greater than 0 that helps define the shape of the beta distribution.
alpha =
# Beta
# A number greater than 0 that helps define the shape of the beta distribution.
beta =
# Lower Bound
# The exposure value where link availability reaches 0% (if 'lower cumulative' beta distribution function is utilized) or 100% (if 'upper cumulative' beta distribution function is utilized).
lower_bound =
# Upper Bound
# The exposure value where link availability reaches 100% (if 'lower cumulative' beta distribution function is utilized) or 0% (if 'upper cumulative' beta distribution function is utilized).
upper_bound =
# Beta Method
# User can select 'lower cumulative' or 'upper cumulative'.
# If 'lower cumulative', link availability reaches 0% at lower bound and 100% at upper bound.
# If 'upper cumulative', link availability reaches 100% at lower bound and 0% at upper bound.
# In either method, link availability will always be 100% for links with no (NULL) hazard exposure.
beta_method =

# Designated Centroid Nodes
# Defines the highest node ID designated as a centroid node.
# Links connecting one or more centroid nodes are treated as zone connectors and are not impacted by hazard events.
# Default value is 0 (i.e., no centroid nodes) if left blank.
highest_zone_number = 0

# Resilience Mitigation Approach
# Defines the approach used to convert investment in a resilience project to mitigation of exposure and disruption on the network.
# 'Binary' (default) = Investment in a resilience project will lead to associated network links experiencing full exposure reduction and no disruption across all hazards.
# 'Manual' = Mitigation from a resilience project investment is specified for each associated network link in an 'Exposure Reduction' column of the project table input file.
resil_mitigation_approach = 'Manual'


# ==============================================================================

[recovery]
# RECOVERY MODULE PARAMETERS

# The following parameters are used to build out the recovery scenarios and calculate damage costs.

# Minimum Duration of Hazard Event [days]
# Defines the minimum number of days a hazard event may last at the initial hazard severity.
min_duration = 4
# Maximum Duration of Hazard Event [days]
# Defines the maximum number of days a hazard event may last at the initial hazard severity.
max_duration = 8
# Number of Hazard Duration Cases to Run
# Defines the number of potential hazard durations to analyze with the RDR Tool Suite.
num_duration_cases = 2
# Hazard Recovery Build-out Type
# User can select 'days' or 'percent'.
# If 'days', the hazard recovery period (e.g., period after initial hazard severity and before end of hazard) is specified in number of days.
# If 'percent', the hazard recovery period is specified as a percentage of the duration of the initial hazard severity.
hazard_recov_type = 'days'
# Hazard Recovery Build-out Length
# Defines the length of the hazard recovery period in either number of days or as a percentage (as specified above).
hazard_recov_length = 4
# Hazard Recovery Path Model
# Defines the approach used to construct hazard recovery path from initial hazard severity through the end of the hazard event.
# 'Equal' (default) = Hazard recovery stages are of equal length.
# Other options may be added in the future.
hazard_recov_path_model = 'Equal'

# Exposure-Damage Approach
# Defines the approach used to convert exposure to a specific level of asset damage on each individual segment in the network.
# 'Binary' (default) = Any value > 0 will be considered full damage to link. Other links will incur no damage.
# 'Default_Damage_Table' = Utilize depth-damage functions adapted from Simonovic et al. for flood-based hazard events on roadways and bridges. Utilize depth-damage function adapted from Martello et al. for transit flooding events. Full references available in the Technical Documentation.
# 'Manual' = Develop your own bins representing converting exposure into link damage based on template CSV provided with tool suite.
exposure_damage_approach = 'Default_Damage_Table'

# Path to Exposure-Damage Table CSV
# Only required if 'Manual' exposure-damage approach is being utilized (as defined above).
# Otherwise, can be left blank.
exposure_damage_csv =

# Repair Cost Approach
# Defines the approach used to convert asset damage to cost of repair.
# User can select 'Default' or 'User-Defined'.
# 'Default' = Utilize FHWA estimated costs for highway and bridge assets. Utilize Hurricane Sandy-based costs developed from a 2014 HNTB Amtrak report for transit assets. Full references available in the Technical Documentation.
# 'User-Defined' = Develop your own look-up table converting damage to repair cost based on template CSV provided with tool suite.
repair_cost_approach = 'Default'

# Network Type
# Only required if default repair cost table is being utilized. Otherwise, can be left blank.
# User can select 'Rural Flat', 'Rural Rolling', 'Rural Mountainous', 'Small Urban' (populations of 5,000 to 49,999), 'Small Urbanized' (populations of 50,000 to 200,000), 'Large Urbanized' (populations of more than 200,000), 'Major Urbanized' (populations of more than 1,000,000).
repair_network_type = 'Small Urbanized'

# Path to Repair Cost CSV
# Only required if 'User-Defined' repair cost approach is being utilized. Otherwise, can be left blank.
repair_cost_csv =

# Repair Time Approach
# Defines the approach used to convert asset damage to minimum time to repair.
# User can select 'Default' or 'User-Defined'.
# 'Default' = Utilize data provided by Virginia DOT for highway and bridge assets. Utilize Hurricane Sandy-based recovery times based on a 2017 FHWA report for transit assets. Full references available in the Technical Documentation.
# 'User-Defined' = Develop your own look-up table converting damage to repair time based on template CSV provided with tool suite.
repair_time_approach = 'Default'

# Path to Repair Time CSV
# Only required if 'User-Defined' repair time approach is being utilized. Otherwise, can be left blank.
repair_time_csv =


# ==============================================================================

[analysis]
# SCENARIO ANALYSIS PARAMETERS

# The following parameters are used to analyze scenarios and calculate ROI metrics output by the RDR Tool Suite.

# ROI Analysis Type
# Defines the ROI analysis type run by RDR. User can select 'BCA', 'Regret', or 'Breakeven'.
# See the Technical Documentation for specifications and required inputs for each ROI analysis type.
roi_analysis_type = 'BCA'

# Year for Dollar Units
# Specifies the year in which all monetary benefit/cost units are input and reported. Costs include:
# (1) vehicle operating costs, value of travel time, value of transit wait time, and transit fare in configuration file,
# (2) project costs, redeployment costs (optional), and maintenance costs (optional) in project_info.csv input file,
# (3) repair costs in repair costs table (default or user-defined),
# (4) network link tolls in link tables (optional),
# (5) safety, noise, and emissions monetization values (default or user-defined).
dollar_year = 2023

# Year-on-Year Discounting Factor
# Defines the discounting factor used to convert metrics across entire period of analysis to year specified for dollar units.
# U.S. DOT recommended value is 0.07. Value should be entered as a decimal, not a percent.
discount_factor = 0.07
# Year-on-Year CO2 Discounting Factor
# Defines the CO2-specific discounting factor used to convert metrics across entire period of analysis to year specified for dollar units.
# U.S. DOT recommended value is 0.07. Value should be entered as a decimal, not a percent.
co2_discount_factor = 0.07

# Vehicle Occupancy Rates [person/vehicle]
# Defines average vehicle occupancy rates for passenger and transit vehicles used to convert passenger-miles traveled to vehicle-miles traveled.
# Rates for transit vehicles are only required if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended value for passenger vehicle is 1.52. FHWA-provided value for buses is 20.
# Values for light rail and heavy rail are placeholders. User should provide their own values.
vehicle_occupancy_car = 1.52
vehicle_occupancy_bus = 20
vehicle_occupancy_light_rail = 140
vehicle_occupancy_heavy_rail = 400

# Vehicle Operating Costs [$/vehicle-mile]
# Defines the variable operating costs (e.g., gasoline, maintenance, tires, depreciation, transit operator time) for passenger and transit vehicles per mile driven.
# Rates for transit vehicles are only required if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended value in $2023 for light duty vehicles is 0.56. Transit values in $2023 are taken from the FTA National Transit Database.
veh_oper_cost_car = 0.56
veh_oper_cost_bus = 1.37
veh_oper_cost_light_rail = 5.95
veh_oper_cost_heavy_rail = 4.17

# Value of Travel Time [$/hour]
# Defines the value of time used to convert link tolls in the network to travel time and to convert person-hours traveled to dollars.
# U.S. DOT recommended value in $2023 is 21.10.
vot_per_hour = 21.10

# Value of Wait Time [$/hour]
# Defines the value of time used to convert transit wait time on boarding links in the network in person-hours to dollars.
# Only required if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended value in $2023 is 38.80.
vot_wait_per_hour = 38.80

# Transit Fare [$/trip]
# Defines the value of a transit trip used to convert trips lost to dollars.
# Only required if calc_transit_metrics parameter is set to 1.
# Value is a placeholder. User should provide their own value.
transit_fare = 2.00

# Include Annual Maintenance Cost
# Annual maintenance costs are defined in the project_info.csv input file and are applied every year.
# If set to True, an 'Annual Maintenance Cost' column is required in the project info input file.
# Options: True or False. Default is False.
maintenance = False

# Include Redeployment Cost
# Redeployment costs are defined in the project_info.csv input file and are applied every project lifespan AFTER the initial project deployment.
# If set to True, a 'Redeployment Cost' column is required in the project info input file.
# Options: True or False. Default is False.
redeployment = False

# Safety Costs [$/vehicle-mile]
# Defines the safety external highway use costs per mile driven.
# General parameter used for all scenarios; bus parameter only used if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended per mile cost value divided by external share in $2023 for light duty vehicles in urban location is 0.018 / 0.10 = 0.18.
# U.S. DOT recommended per mile cost value divided by external share in $2023 for buses in urban location is 0.017 / 0.17 = 0.10.
safety_cost = 0.18
safety_cost_bus = 0.10

# Noise Costs [$/vehicle-mile]
# Defines the noise external highway use costs per mile driven.
# General parameter used for all scenarios; bus parameter only used if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended per mile value in $2023 for light duty vehicles in urban location is 0.0020.
# U.S. DOT recommended per mile value in $2023 for buses in urban location is 0.0453.
noise_cost = 0.0020
noise_cost_bus = 0.0453

# Non-CO2 Emissions Costs [$/vehicle-mile]
# Defines the non-CO2 emissions external highway use costs per mile driven.
# General parameter used for all scenarios; bus parameter only used if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended per mile value in $2023 for light duty vehicles in any location is 0.013.
# U.S. DOT recommended per mile value in $2023 for buses in any location is 0.037.
non_co2_cost = 0.013
non_co2_cost_bus = 0.037

# CO2 Emissions Costs [$/vehicle-mile]
# Defines the CO2 emissions external highway use costs per mile driven.
# General parameter used for all scenarios; bus parameter only used if calc_transit_metrics parameter is set to 1.
# U.S. DOT recommended per mile value in $2023 for light duty vehicles in urban location is 0.
# U.S. DOT recommended per mile value in $2023 for buses in urban location is 0.
co2_cost = 0
co2_cost_bus = 0

# Coordinate reference system
# Defines the coordinate reference system (crs) of the TrueShape.csv WKT field
# Typically in the format of 'EPSG:XXXX' where XXXX is four digits
# Default is the WGS84 Geographic Coordinate System, which is EPSG:4326
crs = 'EPSG:4326'
