
# Configuration for running equity_overlay.py and TAZ_metrics.py

# Configuration Summary: Running equity overlay for an RDR scenario-- update the [equity_overlay] section to match your scenario's specifications
# Similarly, running TAZ equity analysis for an RDR scenario-- update the [equity_analysis] section to match your scenario's specifications

# ==============================================================================

[common]

# Location to store the results of the equity helper tools
equity_analysis_dir = "C:\GitHub\RDR\Data\equity_analysis"

# Run name
# Used to name output folder and log files for distinction between various equity analyses
run_id = 'QS1'


# ==============================================================================

[equity_overlay]

# Path to the TAZ shapefile in the equity analysis directory (do not include SHP file extension)
# This is a file stored on the local machine
# Future versions may support feature service layer
TAZ_source = 'TAZ/TAZ_Layer'

# Source of the equity layer and the feature of that layer which should be used to identify areas of equity emphasis
# If using a file stored on the local machine, provide full path to shapefile
# Note: Default setting provides a binary classification of equity emphasis areas, following Justice40 Transportation Disadvantaged Census Tracts
equity_source = 'https://services.arcgis.com/xOi1kZaI0eWDREZv/arcgis/rest/services/Disadvantage_Layer/FeatureServer/0'
equity_feature = 'OverallDis'

# Minimum area to include during overlay
# This parameter streamlines the overlay between TAZ and equity area geographies
# Indicates the percent of smallest overlay intersected polygons to drop before assigning areas of equity emphasis
# Setting this below 0.05 may result in very small fragments of overlay being used to assign equity category to TAZ
min_percentile_include = 0.05

# Name of CSV file created as output (do not include CSV file extension)
output_name = 'Equity_TAZ_Mapping'


# ==============================================================================

[equity_analysis]
# Configuration file for corresponding RDR Metamodel run
# This is used in TAZ_metrics.py to identify the AequilibraE input files and parameters to use
path_to_RDR_config_file = "C:\GitHub\RDR\quick_starts\qs1_full_run\QS1.config"

# Resilience project to analyze in equity helper tool
# Enter the project name corresponding to RDR input files, e.g., 'HighwayProject1'
resil = 'L2-7'

# Hazard to analyze in equity helper tool
# Enter the hazard name corresponding to RDR input files, e.g., '100yr3SLR'
hazard = 'haz1'

# Project group corresponding to resilience project
# Enter the project group name corresponding to above resilience project in RDR input files, e.g., '04', '30'
projgroup = '02'

# Socioeconomic future to analyze in equity helper tool
# Enter the economic future name corresponding to RDR input files, e.g., 'base', 'urban', 'suburban'
socio = 'base'

# Elasticity value used by AequilibraE, e.g., 0, -0.5, -1
elasticity = -1

# Always set to 'no' for equity helper tool
baseline = 'no'

# Always set to '0' for equity helper tool
recovery = '0'

# Mini-Equilibrium Run
# User can select 1 to run mini-equilibrium setup for routing code (default) or 0 to run routing code only once.
run_minieq = 1

# Defines the type of AequilibraE run used in equity helper tool
# Select 'SP' for shortest path (default) or 'RT' for routing
run_type = 'SP'

# Constant used as an upper bound for travel times in disruption analysis
largeval = 99999
