
# Configuration file for running equity_overlay.py and TAZ_metrics.py

# Configuration Summary: To run an equity overlay for an RDR scenario, update the [common] and [equity_overlay] sections to match your scenario specifications
# Similarly, to run the TAZ equity analysis for an RDR scenario, update the [common] and [equity_analysis] sections to match your scenario specifications

# ==============================================================================

[common]

# Location to store the results of the equity helper tools
equity_analysis_dir = "C:\GitHub\RDR\scenarios\rs3_equity\Data\generated_files"

# Run name
# Used to name output folders and log files for distinction between various equity analyses
run_id = 'RS3EquityAnalysis'

# Name of the TAZ ID column in the TAZ source
TAZ_col_name = 'TAZ'

# ==============================================================================

[equity_overlay]

# Full file path to the TAZ shapefile (do not include the SHP file extension)
# This is a file stored on the user's local machine
# Future versions may support feature service layer
TAZ_source = ".\Data\inputs\TAZ\TAZ_Layer"

# Source of the equity layer and the feature of that layer which should be used to categorize areas of equity emphasis
# If using a file stored on the user's local machine, provide the full path to the shapefile
# Note: Default setting provides a binary classification of equity emphasis areas following Justice40 Transportation Disadvantaged Census Tracts
# Note: equity_feature parameter is also used by TAZ_metrics.py to identify the equity category column in the TAZ_mapping CSV file
equity_source = 'https://services.arcgis.com/xOi1kZaI0eWDREZv/arcgis/rest/services/Disadvantage_Layer/FeatureServer/0'
equity_feature = 'OverallDis'

# Minimum area to include during overlay
# Indicates the percentile (as a decimal) of smallest overlay intersected polygons to drop before assigning equity emphasis categories to TAZs
# Note: Setting this below 0.05 may result in very small fragments of overlay being used to assign equity emphasis category to TAZ
min_percentile_include = 0.05

# Name of CSV file created as output (do not include CSV file extension)
output_name = 'Equity_TAZ_Mapping'

# ==============================================================================

[equity_analysis]
# Configuration file for corresponding RDR Metamodel run
# This is used in TAZ_metrics.py to identify the AequilibraE input files and parameters to use
path_to_RDR_config_file = "C:\GitHub\RDR\scenarios\rs3_equity\RS3.config"

# Full file path of CSV file containing the equity metric data for each TAZ
# This file must contain a TAZ ID column named according to the TAZ_col_name parameter above and a equity category column named according to the equity_feature parameter above
TAZ_mapping = "C:\GitHub\RDR\scenarios\rs3_equity\Data\inputs\Equity_TAZ_Mapping.csv"

# Resilience project to analyze in equity helper tool
# Enter the project name corresponding to RDR input files, e.g., 'HighwayProject1'
resil = 'L15-19'

# Hazard to analyze in equity helper tool
# Enter the hazard name corresponding to RDR input files, e.g., '100yr3SLR'
hazard = 'haz1'

# Project group corresponding to resilience project
# Enter the project group name corresponding to above resilience project in RDR input files, e.g., '04', '30'
projgroup = '02'

# Socioeconomic future to analyze in equity helper tool
# Enter the economic future name corresponding to RDR input files, e.g., 'base', 'urban', 'suburban'
socio = 'base'

# Elasticity value used by AequilibraE, e.g., 0, -0.5, -1
elasticity = -1

# Always set to 'no' for equity helper tool
baseline = 'no'

# Always set to '0' for equity helper tool
recovery = '0'

# Mini-Equilibrium Run
# User can select 1 to run mini-equilibrium setup for routing code or 0 to run routing code only once (default).
run_minieq = 0

# Defines the type of AequilibraE run used in equity helper tool
# Select 'SP' for shortest path or 'RT' for routing (default)
run_type = 'RT'

# Constant used as an upper bound for travel times in disruption analysis
largeval = 99999

# P-value used in statistical tests for determining "significance"
pval = 0.05
