
# Configuration for running RDR Tool Suite - Quick Start 2 Example A

# Configuration Summary: Configuration file contains user parameters for
# (1) identifying input and output directories,
# (2) specifying scenario analysis framework,
# (3) defining regression model process,
# (4) defining disruption analysis,
# (5) defining recovery process.


# ==============================================================================

[common]
# GENERAL CONFIGURATION (INPUT DIRECTORY, OUTPUT DIRECTORY, etc.)

input_dir = '.\tests\qs2_files\Example_A\Data\inputs'
output_dir = '.\tests\qs2_files\Example_A\Data\generated_files'

# Run ID
# Denotes the string used to identify outputs for the run, e.g., run_id = 'SampleRun' means output files will be labeled 'SampleRun'.
run_id = 'QS2ExA'


# ==============================================================================

[analysis]
# SCENARIO ANALYSIS PARAMETERS

# The following parameters are used to analyze scenarios and calculate ROI metrics output by the RDR tool suite.

# Start Year of Analysis Period
start_year = 2020
# End Year of Analysis Period
end_year = 2045

# Year of Base Year Runs
# Specifies the year for which core model outputs are generated. Used in interpolation of results in economic analysis.
base_year = 2017
# Year of Future Year Runs
# Specifies the year for which core models are run on future scenarios. Used in interpolation of results in economic analysis.
future_year = 2045

# Year-on-Year Discounting Factor
# Defines the discounting factor used to convert metrics across entire period of analysis to year specified for dollar units.
discount_factor = 0.07
# Vehicle Occupancy Rate [person/vehicle]
# Defines average vehicle occupancy rate for passenger vehicles used to convert passenger-miles traveled to vehicle-miles traveled.
# U.S. DOT recommended value is 1.67.
vehicle_occupancy = 1.67

# Year for Dollar Units
# Specifies the year in which all monetary benefit/cost units are reported.
# Costs include (1) veh_oper_cost, vot_per_hour in configuration file, (2) project costs in project_info.csv input file, (3) repair costs in repair costs table (default or user-defined), (4) network link tolls in link_toll_table.csv look-up table (optional).
dollar_year = 2018
# Vehicle Operating Cost [$/mile]
# Defines the variable operating costs (gasoline, maintenance, tires, depreciation) per mile driven.
# U.S. DOT recommended value in $2018 for light duty vehicles is 0.41.
veh_oper_cost = 0.41
# Value of Travel Time [$/hour]
# Defines the value of time used to convert link tolls in the network to travel time and to convert person-hours traveled to dollars.
# U.S. DOT recommended value in $2018 is 16.60.
vot_per_hour = 16.60


# ==============================================================================

[metamodel]
# METAMODEL PARAMETERS

# The following parameters define the approach used to select sample core model runs, run AequilibraE, and fit the metamodel.

# Metamodel Type
# State which metamodel method to use. Options are 'base' (default), 'interact', 'projgroupLM', 'multitarget', 'mixedeffects'.
# See the User's Guide for specifications of each metamodel method.
metamodel_type = 'base'

# Latin Hypercube Sample Size
# Defines the number of scenarios identified by the Latin hypercube sampling algorithm to generate AequilibraE outputs for.
# The RDR model is highly sensitive to this parameter. See the User's Guide for details on selecting an appropriate value.
lhs_sample_target = 6

# Do Additional AequilibraE Runs
# Set as True if you have already completed at least one set of runs before, and want to conduct additional runs using the same run ID.
# If doing additional runs, user should set lhs_sample_target to the number of prior runs completed and lhs_sample_additional_target to a positive integer.
# Options: True or False. Default is False.
do_additional_runs = False

# Additional AequilibraE Runs Number
# Specify a positive integer value to complete additional runs.
# This parameter is only used if do_additional_runs is set to True. Default is 0.
lhs_sample_additional_target = 0

# AequilibraE Model Run Type
# Defines the type of AequilibraE run used to fit the metamodel.
# User can select 'SP' for shortest path (default) or 'RT' for routing.
aeq_run_type = 'SP'

# Mini-Equilibrium Run
# User can select 1 to run mini-equilibrium setup for routing code or 0 to run routing code only once (default).
run_minieq = 0

# AequilibraE Paths Through Centroids
# User can select 1 to allow flows to be routed through centroids/centroid connectors or 0 to block these types of paths (default).
allow_centroid_flows = 1


# ==============================================================================

[disruption]
# DISRUPTION ANALYSIS PARAMETERS

# The following parameters define the approach used to convert exposure data to disruption along the network.

# Link Availability Approach
# Defines the approach used to convert exposure to a specific level of disruption to each individual segment in the road network.
# 'Binary' (default) = Any value > 0 will be considered full exposure and link will not be available. Other links will remain fully available.
# 'Default_Flood_Exposure_Function' = Utilize depth-disruption function adapted from Pregnolato et al.
# 'Manual' = Develop your own bins representing converting exposure into link availability based on template csv provided with tool suite.
# 'Beta_Distribution_Function' = Develop custom function converting exposure to disruption--based on Python's beta distribution function implementation.
link_availability_approach = 'Default_Flood_Exposure_Function'

# Exposure Field
# Field name in the exposure dataset which defines exposure level.
# Default is 'Value' but this may vary depending on the specific dataset.
exposure_field = 'Value'

# Exposure Unit
# Only required if default flood exposure curve is being utilized or default damage table is being utilized (see Recovery section below).
# Acceptable units are feet, meters, or yards.
exposure_unit = 'Feet'

# Path to Link Availability CSV
# Only required if 'Manual' link availability approach is being utilized (as defined above).
# Otherwise, can be left blank.
link_availability_csv =

# Beta Distribution Parameters
# Only required to be defined when the 'Beta_Distribution_Function' approach is utilized to convert a hazard to disruption.
# Alpha
# A number greater than 0 that helps define the shape of the beta distribution.
alpha =
# Beta
# A number greater than 0 that helps define the shape of the beta distribution.
beta =
# Lower Bound
# The exposure value where link availability reaches 0% (if 'lower cumulative' beta distribution function is utilized) or 100% (if 'upper cumulative' beta distribution function is utilized).
lower_bound =
# Upper Bound
# The exposure value where link availability reaches 100% (if 'lower cumulative' beta distribution function is utilized) or 0% (if 'upper cumulative' beta distribution function is utilized).
upper_bound =
# Beta Method
# User can select 'lower cumulative' or 'upper cumulative'.
# If 'lower cumulative', link availability reaches 0% at lower bound and 100% at the upper bound.
# If 'upper cumulative', link availability reaches 100% at lower bound and 0% at upper bound.
# In either method, link availability will always be 100% for links with no (NULL) hazard exposure.
beta_method =

# Designated Centroid Nodes
# Defines the highest node ID designated as a centroid node.
# Links connecting one or more centroid nodes are treated as zone connectors and are not impacted by hazard events.
# Default value is 0 (i.e., no centroid nodes) if left blank.
highest_zone_number = 0

# Resilience Mitigation Approach
# Defines the approach used to convert investment in a resilience project to mitigation of exposure and disruption on the network.
# 'Binary' (default) = Investment in a resilience project will lead to associated network links experiencing full exposure reduction and no disruption across all hazards.
# 'Manual' = Mitigation from a resilience project investment is specified for each associated network link in an 'Exposure Reduction' column of the project table input file.
resil_mitigation_approach = 'Manual'


# ==============================================================================

[recovery]
# RECOVERY MODULE PARAMETERS

# The following parameters are used to build out the recovery scenarios and calculate damage costs.

# Minimum Duration of Hazard Event [days]
# Defines the minimum number of days a hazard event may last at the initial hazard severity.
min_duration = 4
# Maximum Duration of Hazard Event [days]
# Defines the maximum number of days a hazard event may last at the initial hazard severity.
max_duration = 8
# Number of Hazard Duration Cases to Run
# Defines the number of potential hazard durations to analyze with the RDR tool suite.
num_duration_cases = 2
# Hazard Recovery Build-out Type
# User can select 'days' or 'percent'.
# If 'days', the hazard recovery period (e.g., period after initial hazard severity and before end of hazard) is specified in number of days.
# If 'percent', the hazard recovery period is specified as a percentage of the duration of the initial hazard severity.
hazard_recov_type = 'days'
# Hazard Recovery Build-out Length
# Defines the length of the hazard recovery period in either number of days or as a percentage.
hazard_recov_length = 4
# Hazard Recovery Path Model
# Defines the approach used to construct hazard recovery path from initial hazard severity through the end of the hazard event.
# 'Equal' (default) = Hazard recovery stages are of equal length.
# Other options may be added in the future.
hazard_recov_path_model = 'Equal'

# Exposure-Damage Approach
# Defines the approach used to convert exposure to a specific level of asset damage.
# 'Binary' (default) = Any value > 0 will be considered full damage to link. Other links will incur no damage.
# 'Default_Damage_Table' = Utilize depth-damage function adapted from Simonovic et al. for flood-based hazard events.
# 'Manual' = Develop your own bins representing converting exposure into link damage based on template csv provided with tool.
exposure_damage_approach = 'Default_Damage_Table'

# Path to Exposure-Damage Table CSV
# Only required if 'Manual' exposure-damage approach is being utilized (as defined above).
# Otherwise, can be left blank.
exposure_damage_csv =

# Repair Cost Approach
# Defines the approach used to convert asset damage to cost of repair.
# User can select 'Default' or 'User-Defined'.
# 'Default' = Utilize FHWA estimated costs for highway and bridge assets.
# 'User-Defined' = Develop your own look-up table converting damage to repair cost based on template csv provided with tool.
repair_cost_approach = 'Default'

# Network Type
# Only required if default repair cost table is being utilized. Otherwise, can be left blank.
# User can select 'Rural Flat', 'Rural Rolling', 'Rural Mountainous', 'Small Urban' (populations of 5,000 to 49,999), 'Small Urbanized' (populations of 50,000 to 200,000), 'Large Urbanized' (populations of more than 200,000), 'Major Urbanized' (populations of more than 1,000,000).
repair_network_type = 'Small Urbanized'

# Path to Repair Cost CSV
# Only required if 'User-Defined' repair cost approach is being utilized. Otherwise, can be left blank.
repair_cost_csv =

# Repair Time Approach
# Defines the approach used to convert asset damage to minimum time to repair.
# User can select 'Default' or 'User-Defined'.
# 'Default' = Utilize data provided by Virginia DOT.
# 'User-Defined' = Develop your own look-up table converting damage to repair time based on template csv provided with tool.
repair_time_approach = 'Default'

# Path to Repair Time CSV
# Only required if 'User-Defined' repair time approach is being utilized. Otherwise, can be left blank.
repair_time_csv =
